*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #FAFAFA;
}

@font-face {
    font-family: 'f1';
    src: url(../fonts/fonts/font4-4.ttf) format('truetype');
}

@font-face {
    font-family: 'f2';
    src: url(../fonts/fonts/font4-2.ttf) format('truetype');
}

@font-face {
    font-family: 'f3';
    src: url(../fonts/fonts/font4-1.ttf) format('truetype');
}

@font-face {
    font-family: 'f4';
    src: url(../fonts/fonts/font7-3.ttf) format('truetype');
}

/* *** header ******************************************************** */

header
{
    width: 100%;
    height: 140px;
}

/*! part1 */

.header-prt1
{
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #E6EBF0;
}

.header-prt1 nav
{
    height: 100%;
    width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header-prt1 nav:first-child
{
    margin-left: 100px ;
}
.header-prt1 nav:last-child
{
    width: 450px;
    margin-right: 100px;
}

.header-prt1  nav  a
{
    color: #506478;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    padding: 0 13px;
    position: relative;
}
.header-prt1  nav  a:hover
{
    color: #283246;
}

.header-prt1  nav  a  i
{
    transition: 0.3s;
}
.header-prt1  nav  a:hover  i
{
    transform: rotateY(180deg);
}

.header-prt1  nav  a::after
{
    position: absolute;
    content: "";

    width: 2.5px;
    height: 0;
    left: 0;
    bottom: 0;

    background-color: #646464;
    transition: 1s;
}
.header-prt1  nav  a:hover::after
{
    height: 100%;
}

.header-prt1  nav  a::before
{
    position: absolute;
    content: "";

    width: 2.5px;
    height: 0;
    right: 0;
    top: 0;

    background-color: #646464;
    transition: 1s;
}
.header-prt1  nav  a:hover::before
{
    height: 100%;
}

/*! part2 */

.header-prt2
{
    width: 100%;
    height: 45%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #E6EBF0;
}

.header-logo img
{
    height: 110%;
    width: 180px;
}

.header-taps
{
    width: 700px ;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-taps p a
{
    color: #506478;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.header-taps  p
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.header-taps  p:hover a
{
    color: #283246;
}

.header-taps  span::after
{
    position: absolute;
    content: "";

    width: 0;
    height: 2.5px;
    left: 0;
    bottom: 0;

    background-color: #646464;
    transition: 0.5s;
    opacity: 0;
}
.header-taps  p:hover span::after
{
    width: 100%;
    opacity: 1;
}

.header-taps  span::before
{
    position: absolute;
    content: "";

    width: 0;
    height: 2.5px;
    left: 0;
    top: 0;

    background-color: #646464;
    transition: 0.5s;
    opacity: 0;
}
.header-taps  p:hover  span::before
{
    width: 100%;
    opacity: 1;
}

.header-taps  p a::after
{
    position: absolute;
    content: "";

    width: 2.5px;
    height: 20%;
    left: 0;
    bottom: 0;

    background-color: #646464;
    transition: 0.5s;
    opacity: 0;
}
.header-taps  p:hover  a::after
{
    height: 100%;
    opacity: 1;
}

.header-taps  p a::before
{
    position: absolute;
    content: "";

    width: 2px;
    height: 20%;
    right: 0;
    bottom: 0;

    background-color: #646464;
    transition: 0.5s;
    opacity: 0;
}
.header-taps  p:hover  a::before
{
    height: 100%;
    opacity: 1;
}

.header-slid
{
    width: 280px;
    height: 200px;
    background-color: #cfd4db;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 2px 0.05px black;
    margin: 250px 0 0 400px;
    position: absolute;
    z-index: 3;
    display: flex;
    transform: scale(0);
    transition: 0.7s;
    opacity: 0;
}

.header-pages-tap:hover ~ .header-slid , .header-slid:hover
{
    transform: scale(1);
    opacity: 1;
}

.header-slid dl
{
    width: 150px;
}

.header-slid dl:last-child
{
    width: 120px;
    margin-left: 10px;
}

.header-slid dl dt
{
    width: 40px;
    color: #3C3C3C;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 5px;
    border-bottom: 0.5px dotted black;
}

.header-slid dd
{
    margin-top: 20px;
    height: 10px;
}

.header-slid a
{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition: 0.2s;
    color: #506478;
}

.header-slid a:hover
{
    color: #283246;
    font-size: 16px;
}

.header-icon
{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icon a
{
    width: 30px;
    height: 30px;
    color: #506478;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon a:hover
{
    color: #283246;
}

.header-icon3 i
{
    position: absolute;
    z-index: 1;
}

.header-icon3  p
{
    width: 16px;
    height: 16px;
    border-radius: 50% 0;
    transform: rotate(48deg);
    background-color: rgb(189, 31, 31);
    color: white;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: absolute;
    margin: 0 0 22px 3px;
    transition: 0.3s;
}
.header-icon3:hover  p
{
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-bottom: 45px;
    border-radius: 50%;
    transform: rotate(15deg);
}

/*! part3 */

.header-prt3
{
    width: 100%;
    height: 20%;
    background-color: #323C46;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50% 50%;
    transition: 0.5s;
}

.header-prt3:hover
{
    height: 27%;
    box-shadow: 0 2.5px 1px 0.1px rgb(85, 88, 90);
}

.header-prt3  p
{
    transition: 0.5s;
}

.header-prt3:hover  p
{
    font-size: 17px;
}

.header-prt3  a
{
    color: #98adcf;
    padding-bottom: 3px;
    text-decoration: none;
    transition: 0.3s;
}

.header-prt3:hover  a
{
    border-bottom: 2px solid #98adcf;
    font-size: 17px;
}

.header-prt3  a:hover
{
    letter-spacing: 2.5px;
}

/* *** main ***************************************** */

main
{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: -webkit-linear-gradient(left , white , rgba(255, 255, 255,0));
}

.main-content
{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-head1
{
    font-size: 50px;
    font-family:'f1';
    color: red;
}

.main-head2
{
    color: #323C46;
    font-size: 100px;
    font-family:'f2';
    margin-top:-30px ;
}

.main-content  p
{
    width: 550px;
    color: #5A5A5A;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
}

.main-content  button
{
    width: 150px;
    height: 60px;
    background-color: #323C46;
    border-radius: 15px;
    font-size: 21px;
    text-transform: uppercase;
    border: 0;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition:  0.3s;
    cursor: pointer;
}

.main-content  button:hover
{
    background-color: white;
    color: #323C46;
    border: 1px solid #323C46;
}

.main-image
{
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.main-image img
{
    height: 900px;
}

/* *** parts ********************************************* */

.sec1
{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6EBF0;
}

.sec1-container
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sec1-d
{
    width: 420px;
    height: 420px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.8s;
    position: relative;
}

.sec1-d:hover
{
    border-radius: 20px 0;
}

.sec1-d  img
{
    width: 100%;
    transition: 0.8s;
}

.sec1-d:hover  img
{
    transform: scale(1.2);
}

.sec1-d > div
{
    height: 25%;
    width: 100%;
    background: -webkit-linear-gradient(top ,rgba(40, 40, 40, 0) ,rgb(40, 40, 40));
    position: absolute;
    bottom: 0;
}

.sec1-content
{
    width: 100%;
    height: 100%;
    align-items: center;
    transform: translateY(40px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.8s;
}

.sec1-d:hover  .sec1-content
{
    transform: translateY(0);
}

.sec1-content  h3
{
    color: #afc4e7;
    font-size: 25px;
    font-family: 'f1';
    transition: 0.8s;
    padding: 3px  10px;

}

.sec1-d:hover  h3
{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

.sec1-content  a
{
    color: #98adcf;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    border-bottom: 3px solid #98adcf;
    transition: 0.2s;
    padding-bottom: 5px;
    position: relative;
}

.sec1-content  a:hover
{
    letter-spacing: 2px;
    color: #cce0f4;
    border-bottom: 3px solid #cce0f4;
}

/* *** trending ************************************************** */

.sec2
{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2-container1
{
    width: 90%;
    height: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sec2-head
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2-head  h2
{
    font-size: 50px;
    color: #323C46;
    text-transform: capitalize;
    font-family:'f2';
}

.sec2-head  nav
{
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sec2-head  a
{
    font-size: 22px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 31px 0;
}
.sec2-head  a:not(.sec2-head-Women)
{
    color: #506478;
    border-bottom: 4px solid rgba(0 ,0 ,0 ,0);
}
.sec2-head-Women
{
    color: red;
    border-bottom: 4px solid red;
}

.sec2  hr
{
    width: 100%;
    margin-top: -5px;
}

.sec2-container2
{
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2-swap i
{
    font-size: 35px;
    color: #283246;
    margin: -50px 15px  0  15px;
}

.sec2-swap i:hover
{
    color: #506478;
}

.sec2-cards
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2-brand
{
    width: 23% ;
    height: 410px;
    padding-bottom: 10px;
    background-color: #0000000D;
    border-radius: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sec2-image
{
    width: 100%;
    height: 300px;
    perspective: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2-image  img
{
    width: 100%;
    height: 100%;
    border-radius: 20px 0;
}

.ces2-rott
{
    width: 100%;
    height: 100%;
    background-image: url(../image/Picsart_25-08-19_15-12-44-963.png) ;
    background-size: cover;
    border-radius: 20px 0;
    position: absolute;
    transition: 0.5s;
    transform: rotateY(90deg);
    visibility: hidden;
    transform-style: preserve-3d;
}

.sec2-brand:hover  .ces2-rott
{
    transform: rotateY(0deg);
    visibility: visible;
    transition-delay: 0.3s;
}

.sec2-icon
{
    position: absolute;
    z-index: 2;
    margin-top: 200px;
    transform: translatey(50%);
    display: flex;
    transition: 1s;
    justify-content: center;
    opacity: 0;
}
.sec2-brand:hover .sec2-icon
{
    transform: translatey(0);
    opacity: 1;
}

.sec2-icon i
{
    background-color: white;
    width: 60px;
    height: 50px;
    font-size: 35px;
    color: #283246;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.sec2-icon a:first-child i:hover
{
    background: -webkit-linear-gradient(top right, rgb(128, 0, 255), rgb(255, 0, 238), rgb(255, 68, 0), rgb(255, 200, 0));
    color: white;
    border-radius: 15px;
}
.sec2-linkedin:hover i
{
    background-color: rgb(55, 87, 190);
    color: white;
    border-radius: 15px;
}
.sec2-icon a:last-child i:hover
{
    background-color: red;
    color: white;
    border-radius: 15px;
}

.sec2-icon a
{
    text-decoration: none;
}

.sec2-brand  h3  a, .sec2-brand  p
{
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #283246;
}

.sec2-brand:hover  h3  a
{
    color: red;
}

.sec2-brand  del
{
    opacity: 0.7;
}

/* *** customer **************************************************** */

.customer
{
    width: 100%;
    height: 400px;
    background-color: #E6EBF0;
    box-shadow: 0 0 2.5px 0.05px rgb(89, 100, 103);

    display: flex;
    justify-content: space-around;
    align-items:center;
}

.customer-container h2
{
    font-size: 50px;
    color: #323C46;
    text-transform: capitalize;
    font-family:'f2';
}

.customer-swap i
{
    font-size: 35px;
    color: #283246;
}

.customer-swap i:hover
{
    color: #506478;
}

.customer p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5A5A5A;
}

.customer-container > p
{
    text-align: center;
}

.customer-container
{
    height: 100%;
    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.customer-image
{
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customer-image  img
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.customer-image  h3
{
    margin-bottom: 10px;
    font-family:'f1';
}

/* *** Like *********************************************** */

.like
{
    width: 100%;
    height: 700px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.like h2
{
    font-size: 50px;
    color: #323C46;
    text-transform: capitalize;
    font-family:'f2';
}

.like-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-swap i
{
    font-size: 35px;
    color: #283246;
    margin: -50px 15px  0  15px;
}

.like-swap i:hover
{
    color: #506478;
}

.like-prod
{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.like-cards
{
    width: 23% ;
    height: 430px;
    background-color: #0000000D;
    border-radius: 20px 0;
    padding-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.like-image
{
    width: 100%;
    height: 320px;
    background-image: url(../image/pngtree-image-of-a-person-working-in-front-laptop-without-hd-quality-png-image_13474649.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-image  img
{
    width: 100%;
    height: 100%;
    border-radius: 20px 0;
}

.like-slide
{
    width: 100%;
    height: 100%;
    background-image: url(../image/Picsart_25-08-19_15-12-44-963.png) ;
    background-size: cover;
    position: absolute;
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.8s;
}

.like-cards:hover .like-slide
{
    transform: translateY(0);
    border-radius: 20px 0;
    opacity: 1;
}

.like-icon
{
    transform: translateY(50%);
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 30px;
    transition: 0.8s;
    opacity: 0;
}

.like-cards:hover .like-icon
{
    transform: translateY(0);
    opacity: 1;
}

.like-icon i
{
    background-color: white;
    width: 60px;
    height: 50px;
    font-size: 35px;
    color: #283246;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.like-icon a:first-child i:hover
{
    background: -webkit-linear-gradient(top right, rgb(128, 0, 255), rgb(255, 0, 238), rgb(255, 68, 0), rgb(255, 200, 0));
    color: white;
    border-radius: 15px;
}
.like-linkedin:hover i
{
    background-color: rgb(55, 87, 190);
    color: white;
    border-radius: 15px;
}
.like-icon a:last-child i:hover
{
    background-color: red;
    color: white;
    border-radius: 15px;
}

.like-icon a
{
    text-decoration: none;
}

.like-cards  h3  a, .like-cards  p
{
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #283246;
}

.like-cards:hover  h3  a
{
    color: red;
}

.like-cards  del
{
    opacity: 0.7;
}

/* *** News ******************************************************* */

.news
{
    width: 100%;
    height: 800px;
    background-color: #E6EBF0;
    box-shadow: 0 0 2.5px 0.05px rgb(89, 100, 103);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.news h2
{
    font-size: 50px;
    color: #323C46;
    text-transform: capitalize;
    font-family:'f2';
}

.news-container
{
    width: 90%;
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-cards
{
    width: 30%;
    height: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-cards  img
{
    width: 100%;
    height: 100%;
    height: 65%;
    border-radius: 20px;
    transition: 0.8s;
}

.news-cards  img:hover
{
    transform: scale(1.05);
    border-radius: 20px 0;
}

.news-cards  h3
{
    font-size: 15px;
    opacity: 0.7;
    font-family: 'f4';
}

.news-cards > a
{
    color: #283246;
    text-decoration: none ;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.news-cards:hover > a
{
    color: red;
}

.news-pra
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5A5A5A;
}

.news-cards p:not(.news-pra)
{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
}

.news-cards p a
{
    font-size: 20px;
    transition: 0.3s;
    color: #283246;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.news-cards p a:hover
{
    transform: scale(1.1);
    color: red;
}

/* *** last ********************************************* */

.last
{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.last-perant
{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.last-perant div
{
    width: 90px;
    height: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.last-perant i
{
    color: #283246;
    font-size: 60px;
    position: absolute;
    transition: 0.2s;
}

.last-perant i:first-child
{
    opacity: 0.5;
}

.last-perant i:last-child
{
    margin-top: 140px;
}

.last-perant:hover i
{
    margin-bottom: 140px;
}

.last-perant h3
{
    font-size: 21px;
    font-family:'f4';
    color: #283246;
}

.last-perant p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5A5A5A;
}

/* *** footer ****************************************** */

footer
{
    width: 100%;
    height: 550px;
    background-color: #323C46;
}

.footer-container
{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.footer-sec1
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-sec1 > div:first-child  h2
{
    font-size: 50px;
    color: white;
    text-transform: capitalize;
    font-family:'f2';
}

.footer-sec1 > div:first-child  p
{
    color: white;
    opacity: 0.7;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-search
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-search  input
{
    height: 45px;
    width: 450px;
    padding: 20px;
    margin-right: 10px;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-search  button
{
    width: 150px;
    height: 45px;
    background-color: red;
    color: white;
    font-size: 23px;
    border: 0;
    transition: 0.2s;
    cursor: pointer;
}
.footer-search  button:hover
{
    transform: scale(1.1);
}

.footer-icon
{
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.footer-icon  a
{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}
.footer-icon a:hover
{
    transform: scale(1.1);
    color: rgba(255, 255, 255, 1);
}

.footer-sec2
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;
    margin-bottom: 10px;
}

.footer-logo img
{
    width: 300px;
}

.footer-sec2  dl
{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-sec2  dt
{
    color: white;
    font-size: 19px;
    text-transform: uppercase;
    font-family:'f4';
    padding-bottom: 15px;
}

.footer-sec2  dd
{
    padding: 8px 0;
}

.footer-sec2  dd a
{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    transition: 0.5s;
}
.footer-sec2  dd a:hover
{
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
    text-decoration: underline;
}

.footer-sec3
{
    width: 100%;
}

.footer-sec3  p
{
    color: white;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.footer-sec3 i
{
    padding: 0 4px;
    color: #283246;

    animation-name: joo;
    animation-duration: 0.8s;
    animation-iteration-count: infinite ;
    animation-timing-function: linear;
}

@keyframes joo
{
    50%
    {
        color: red;
        transform: scale(1.4);
    }
}

.footer-sec3  a
{
    color: red;
    text-decoration: none;
    transition: 0.3s;
}

.footer-sec3  a:hover
{
    border-bottom: 2px solid red;
    letter-spacing: 2.5px;
}
